* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; /* Apply font family */
    background: url('background.jpg') no-repeat center center fixed;
    background-size: contain; /* Ensures the whole image fits within the viewport */
    background-position: top center; /* Ensures the top of the image is visible */
    background-color: #000; /* Fallback color for browsers that can't display images */
    color: #fff;
    line-height: 1.6;
}



header {
    padding: 20px; /* Add padding for header */
}

/* For the logo */
.logo img {
    width: 150px; /* Adjust the logo size if necessary */
    margin-left: 20px; /* Moves the logo 20px to the right */
}

/* For the hero section */
.hero {
    height: auto; /* Adjust to fit content */
    padding-top: 50px; /* Space from the top */
    margin-bottom: 20px; /* Space below the hero */
}

h1 {
    font-size: 3rem; /* Adjust size of text */
    text-transform: uppercase;
    text-align: center; /* Center the title */
    color: white;
}

/* Projects title */
.projects-title {
    font-size: 2rem; /* Make it bigger */
    text-align: left; /* Align left */
    margin: 20px 0; /* Add margin for spacing */
    color: rgba(255, 255, 255, 0.8); /* White color with some transparency */
    position: relative; /* Change to relative positioning */
    left: 20px; /* Adjusted position */
    top: 20px; /* Adjusted position */
}

/* Project grid styling */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive columns */
    gap: 20px; /* Space between grid items */
    margin: 0 auto;
    max-width: 1200px; /* Max width for the grid */
    padding: 0 20px;
}

/* Project styling */
.project {
    position: relative;
}

.project img {
    width: 100%;
    height: 300px; /* Set a fixed height for uniformity */
    object-fit: cover;
}

/* Adjust the number styling */
.project-number {
    font-size: 2rem; 
    font-family: Roboto; 
    font-weight: 100; /* Thin font weight */
    margin-bottom: 30px; /* Space between the number and image */
    color: white; /* Changed to white */
}

.project-title {
    font-size: 1.25rem; 
    font-weight: 400;
    margin-bottom: 10px; /* Space between title and description */
    color: white; /* Changed to white */
}

.project-description {
    font-size: 1rem; /* Smaller font size */
    font-weight: 300; /* Light font weight */
    color: white; /* Changed to white */
}

/* Additional styling for the footer */
footer {
    height: 400px; /* Height of the footer for spacing */
}
